body 
  {
    color:#1e1a16;
    text-align: center;
    font-family: "Courier";
  }
  #container
  {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0auto;
  }

  #container h1
  {
    font-size: 20px;
  }